<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="apiEntry" value=""/>
    <add key="refreshTime" value="1000"/>
    <add key="apiToken" value=""/>
    <add key="device_id" value=""/>
    <add key="device_key" value=""/>
    <add key="verbose" value="no"/>
    <add key="app_version" value="ALPHA/0.40/WIN"/>
  </appSettings>
</configuration>